* {
  font-size: 12px;
}
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navItem {
  max-width: 100%;
}
.content {
  padding: 2rem;
}
.me-auto {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.home-Item {
  width: 20%;
}
.main-window-item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  max-height: 150px;
}
